<!--
Component: team
Used on: about.html, index.html, index-v2.html
Editable fields:
REPLACE: Text content
REPLACE: Images or media
REPLACE: Links and buttons
-->
<!-- section-team -->
<div class="section-team flat-spacing">
    <div class="container-fluid px-4 px-lg-5">
        <div class="heading-section center mb-64">
            <div class="heading-sub fw-semibold style-1 effectFade fadeUp">Our Team</div>
            <div class="heading-title text-white effectFade fadeRotateX">The Team Behind <br> Mantrik Labs</div>
        </div>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4 justify-content-center">
            <div class="col">
                <div class="team-item h-100 effectFade fadeUp">
                    <div class="image">
                        <img src="assets/images/team/team-1.png" alt="">
                    </div>
                    <a href="#" class="name h6 fw-semibold">Founder & COO</a>
                    <div class="sub text-body-1">Strategy, product development, client relationships</div>
                    <div class="tf-social justify-content-center">
                        <a href="https://www.linkedin.com/in/dawa-ngotup-a7691b406/" target="_blank"
                            class="social-item">
                            <i class="icon icon-linkedin-in"></i>
                        </a>
                        <a href="https://github.com/mantrik" target="_blank" class="social-item">
                            <i class="icon icon-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item h-100 effectFade fadeUp">
                    <div class="image">
                        <img src="assets/images/team/team-2.jpg" alt="">
                    </div>
                    <a href="#" class="name h6 fw-semibold">Co- Founder & CEO</a>
                    <div class="sub text-body-1">Strategy, vision, client relationships</div>
                    <div class="tf-social justify-content-center">
                        <a href="#" class="social-item">
                            <i class="icon icon-github"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="icon icon-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item h-100 effectFade fadeUp">
                    <div class="image">
                        <img src="assets/images/team/team-3.png" alt="">
                    </div>
                    <a href="#" class="name h6 fw-semibold">Frontend Developer</a>
                    <div class="sub text-body-1">React, Next.js, Flutter, Node.js</div>
                    <div class="tf-social justify-content-center">
                        <a href="https://github.com/Sampurnashrestha" target="_blank" class="social-item">
                            <i class="icon icon-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/sampurna-shrestha-4238032aa/" target="_blank"
                            class="social-item">
                            <i class="icon icon-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item h-100 effectFade fadeUp">
                    <div class="image">
                        <img src="assets/images/team/team-5.png" alt="">
                    </div>
                    <a href="#" class="name h6 fw-semibold">Backend Developer</a>
                    <div class="sub text-body-1">API development, system architecture, cloud infrastructure</div>
                    <div class="tf-social justify-content-center">
                        <a href="https://github.com/prashantthapa1" target="_blank" class="social-item">
                            <i class="icon icon-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/prashant-thapa-78258b30b/" target="_blank"
                            class="social-item">
                            <i class="icon icon-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item h-100 effectFade fadeUp" data-delay="0.1">
                    <div class="image">
                        <img src="assets/images/team/prashant.png" alt="">
                    </div>
                    <a href="#" class="name h6 fw-semibold">Prashant Shrestha</a>
                    <div class="sub text-body-1">Intern UI/UX</div>
                    <div class="tf-social justify-content-center">
                        <a href="https://github.com/" target="_blank" class="social-item">
                            <i class="icon icon-github"></i>
                        </a>
                        <a href="/" target="_blank" class="social-item">
                            <i class="icon icon-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item h-100 effectFade fadeUp" data-delay="0.1">
                    <div class="image">
                        <img src="assets/images/team/team-4.png" alt="">
                    </div>
                    <a href="#" class="name h6 fw-semibold">Karan Dangol</a>
                    <div class="sub text-body-1">Full stack developer and developnment support</div>
                    <div class="tf-social justify-content-center">
                        <a href="https://github.com/karan-dangol0" target="_blank" class="social-item">
                            <i class="icon icon-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/karan-dangol-4a84b6395/" target="_blank" class="social-item">
                            <i class="icon icon-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /section-team -->
