<!--
Component: setting-color
Used on: 404.html, about.html, blog-single.html, blog-standard.html, blog-three-columns.html, blog-two-columns.html, contact.html, index.html, index-v2.html, service.html, service-single.html, work.html, work-single.html
Editable fields:
REPLACE: Text content
REPLACE: Images or media
REPLACE: Links and buttons
-->
<!-- Setting Color -->
<div class="offcanvas offcanvas-end offcanvas-color" id="settingColorMenu">
    <div class="offcanvas-content">
        <span class="icon-close-popup" data-bs-dismiss="offcanvas">
            <i class="icon-close"></i>
        </span>
        <div class="canvas-header">
            <h3 class="fw-semibold text-white">Configuration</h3>
        </div>
        <div class="canvas-body">
            <h6 class="title fw-semibold text-white">COLORS</h6>
            <div class="settings-color list-choose mb-24">
                <button type="button" class="choose-item link-no-action active"></button>
                <button type="button" class="choose-item link-no-action"></button>
                <button type="button" class="choose-item link-no-action"></button>
                <button type="button" class="choose-item link-no-action"></button>
                <button type="button" class="choose-item link-no-action"></button>
                <button type="button" class="choose-item link-no-action"></button>
                <button type="button" class="choose-item link-no-action"></button>
                <button type="button" class="choose-item link-no-action"></button>
            </div>
        </div>
    </div>
</div>
<!-- /Setting Color -->
